* {
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 380px;
  padding: 32px;
  border-radius: 8px;
  border: 1px;
  gap: 16px;
  background-color: #ffffff;
  border: 1px solid rgba(224, 224, 224, 1);
  display: flex;
  flex-direction: column;
  animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(+1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

.cross {
  width: 24px;
  height: 24px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background: url("./assets/replay.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.cross:hover {
  transform: scale(1.2);
  background: url("./assets/replay_hover.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(51, 51, 51, 0.1);
  border-radius: 4px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

#title-question {
  font-size: 24px;
}
#text-info {
  font-size: 16px;
  color: rgba(51, 51, 51, 1);
}

.text-strong {
  font-weight: 900;
}

/* On ne veut pas de gap ici pour que l'animation soit plus fluide.
Avec un gap on aurait perdu l'hover-effect lors du passage de la souris
d'une étoile à une autre */
.stars-container {
  display: flex;
  justify-content: center;
  
  img {
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 8px;
    transition: 0.2s ease-in-out;
  }
}

.star-hover {
  transform: scale(1.05);
  transform-origin: bottom center;
}
